.branding
	background: nth($brand, 3)
	padding: .5rem 0

.logo
	+replace-text(image-url("real-feels_logo.svg"))
	+background-size(contain)
	display: block
	height: 10rem
	&:hover
		background: inherit
		+replace-text(image-url("real-feels_logo.svg"))
		+background-size(contain)

.no-svg .logo
	width: 100%
	//+replace-text(image-url("real-feels_logo.png"))
	+background-size(100%)

.subtitle
	display: block
	padding: 0 msem(0)
	//@extend %copy
	text-align: center
	+trailer(.5)
