.branding
	background: nth($brand, 3)
	padding: .5rem 0
	margin-bottom: 1rem

.logo
	+replace-text(image-url("real-feels_logo.svg"))
	+background-size(contain)
	display: block
	height: 10rem
	&:hover
		background: inherit
		+replace-text(image-url("real-feels_logo.svg"))
		+background-size(contain)

.no-svg .logo
	width: 100%
	//+replace-text(image-url("real-feels_logo.png"))
	+background-size(100%)
