label
	display: block
	color: nth($brand, 4)

textarea, input[type=textarea]

fieldset
	border: none
	margin: 0
	padding: 0

input, button
	+appearance(none)
	border: 0
	padding: .5rem
	+border-right-radius(.2rem)
	@extend %font__headline
	transition: all .2s linear
	&:focus
		outline: 0
		box-shadow: inset 0 0 0 .2rem nth($brand, 3)
		+ .search-btn
			box-shadow: inset 0 0 0 .2rem nth($brand, 3)
